.clearfix {
  clear: both; }

body {
  max-width: 1170px;
  overflow-x: hidden;
  overflow-y: auto;
  right: 0;
  left: 0;
  margin: 0 auto; }

.portafolio .headerSection {
  border-bottom: 1px solid #000;
  margin: 20px 0; }
  .portafolio .headerSection h1 {
    margin: 0;
    font-size: 16px;
    font-weight: bold; }

.portafolio .menu {
  list-style: none;
  vertical-align: middle;
  -webkit-padding-start: 0;
  margin-top: 10px; }
  .portafolio .menu li:last-child {
    margin-right: 0; }
  .portafolio .menu li {
    display: inline;
    margin-right: 20px; }
    .portafolio .menu li a {
      color: #bd0011; }
    .portafolio .menu li a:focus,
    .portafolio .menu li a:hover {
      text-decoration: none; }

.portafolio .profile img {
  max-width: 80px;
  max-height: 80px;
  margin: 0 0 10px;
  border-radius: 50%;
  border: 3px solid rgba(0, 0, 0, 0.2);
  box-sizing: content-box; }

.portafolio .sectionTitle {
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 20px; }

.portafolio .sectionText {
  font-size: 14px;
  font-weight: normal;
  margin: 0 0 20px; }
  .portafolio .sectionText label {
    font-weight: normal;
    margin: 0;
    display: inline; }
  .portafolio .sectionText a {
    font-weight: normal;
    margin: 0;
    display: inline-block; }

.portafolio .skills {
  text-align: center; }

@media (min-width: 768px) {
  .headerSection .menu {
    text-align: right;
    margin-top: 0; } }
