<div class="profile">
    <div class="row">
        <div class="col-sm-3 col-xs-12">
            <img data-ng-src="img/profile.jpg" alt="profile">
            <p class="name">Software engineer</p>

        </div>
        <div class="col-sm-9 col-xs-12">
            <h2 class="sectionTitle">Actually</h2>
            <p class="sectionText"><label>I'm work to Withe towersoft and Levatas. We are development many projects to </label><a href="https://www.us.hsbc.com">HSBC.</a></p>
        </div>
    </div>
</div>