<div ng-controller="HeaderController as vm" data-ng-init="vm.visible = true">
    <div class="headerSection">
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                <h1>Onisdel Echavarria C.</h1>
            </div>
            <div class="col-sm-6 col-xs-12">
                <ul class="menu">
                    <li><select-language></select-language></li>
                    <li><a href="#!//home">Home</a></li>
                    <li><a href="#!/projects">Projects</a></li>
                    <li><a href="#!/skills">Skills</a></li>
                    <li><a href="#!/contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="contentSection">
    </div>
</div>
