<div class="skills" ng-controller="SkillsController">
    <h2 class="sectionTitle" ng-model="vm.name"></h2>
    <h2 class="sectionTitle">Javascript</h2>
    <p class="sectionText"><label>Level: 8</label></p>
    <h2 class="sectionTitle">PHP</h2>
    <p class="sectionText"><label>Level: 7</label></p>
    <h2 class="sectionTitle">Java</h2>
    <p class="sectionText"><label>Level: 8</label></p>
    <h2 class="sectionTitle">Bootstrap</h2>
    <p class="sectionText"><label>Level: 8</label></p>
    <h2 class="sectionTitle">CSS</h2>
    <p class="sectionText"><label>Level: 8</label></p>
    <h2 class="sectionTitle">Angular</h2>
    <p class="sectionText"><label>Level: 7</label></p>
    <h2 class="sectionTitle">Dojo</h2>
    <p class="sectionText"><label>Level: 7</label></p>
    <h2 class="sectionTitle">Nodejs</h2>
    <p class="sectionText"><label>Level: 7</label></p>
    <h2 class="sectionTitle">MongoDB</h2>
    <p class="sectionText"><label>Level: 7</label></p>
    <h2 class="sectionTitle">SQL Server</h2>
    <p class="sectionText"><label>Level: 8</label></p>
    <h2 class="sectionTitle">MySQL</h2>
    <p class="sectionText"><label>Level: 8</label></p>

</div>